.reach
{
    vertical-align: middle;
    color: white;
    font-size: 20px;
    text-align: center;
    width: 40vw;
    height: 10vh;
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
    margin-left: 30vw;
}

.reach:hover
{
    background-color: #60b6e8;
    cursor: pointer;
}

/* unvisited link */
a:link {
    color: #FFFFFF;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #FFFFFF;
    text-decoration: none;
}
